[2014-03-03 04:26] smcgregor opened #6 "Create Issues for GSoC Students"
The Privly GSoC program requires students to complete a bug before we will review their student application. Since the repository currently has no open issues, students can't do an Android GSoC project.

We need "onboarding" issues such that the issue teaches the prospective student about the code base and design of the application. The challenge in writing onboarding issues is that they need to b

[2014-03-03 08:33] vshivam opened #7 "Implement ActionBarSherlock for easier navigation."
Add navigation using the action bar. ABS is preferred as it'll support every version of Android from 2.x and up.

[2014-03-03 09:32] vshivam opened #8 "Scan more messages option for Facebook."
The application currently scans the first 25 messages for Privly links. Implement a feature which allows a user to scan further.

[2014-03-03 09:50] vshivam opened #9 "Scan more Tweets option."
Implement a scan more tweets option which allows the user to scan tweets further for Privly links.

[2014-03-03 09:55] vshivam opened #10 "Implement a Navigation Drawer."
Implement the default navigation drawer provided by android.
[http://developer.android.com/training/implementing-navigation/nav-drawer.html]

[2014-03-03 10:26] vshivam opened #11 "Implement GSON for JSON Parsing."
https://code.google.com/p/google-gson/

[2014-03-04 08:43] vshivam opened #12 "[Beginner] Change header for landscape orientation."
The current header does not take the full screen width in landscape mode.

![screenshot_2014-03-04-14-02-42](https://f.cloud.github.com/assets/831071/2319154/11c6b558-a378-11e3-8628-e52eb182d736.png)

A working solution would be to replace the Header ImageView with a Linear Layout.

[2014-03-16 04:42] vshivam opened #16 "Hide Menu Options from the PrivlyApplications."
The JS Applications show a menu which gives options to create new ZeroBin/PlainPost etc. This isn't useful for the mobile use case and hence should be hidden on the mobile.
![screenshot_2014-03-16-09-49-03](https://f.cloud.github.com/assets/831071/2430221/89cb0f4a-acc4-11e3-85c5-01b9993968f6.png)

[2014-10-24 22:40] smcgregor opened #24 "Icon Update"
There is a better icon that can be found [here](https://github.com/privly/privly-organization/blob/master/graphics/icons/Lock_96.png). I recommend replacing the current lock found in the upper left. If this icon doesn't work because it is too dark, then we should make a lighter version of it.

[2014-10-24 22:44] smcgregor opened #25 "User Messaging"
I think the application could benefit from additional prompting and directions at several steps. Specifically,
- Tell user they need to link their twitter/fb/etc account before continuing to the "reading" screen for these applications. If you drop the person in the login screen, they might not know why they need to log into another service.
- When you start the configuration activity, it isn't imm

[2014-10-24 22:49] smcgregor opened #26 "Filtering Feeds"
In the Twitter/FB/Gmail reading applications, you should default to only showing the user content that has Privly-type links. The best way to do this is to display any content that contains the word "privly." Since the users are unlikely to have any content when they first install the application it may be necessary to define filler content that will not be shown as soon as the app has real conten

[2014-10-24 23:46] #12 closed, assigned to nobody

[2014-10-24 23:47] #16 closed, assigned to nobody

[2014-10-24 23:48] #9 closed, assigned to nobody

[2014-10-24 23:48] #11 closed, assigned to nobody

[2014-10-24 23:48] #6 closed, assigned to vshivam

[2014-10-24 23:51] #10 closed, assigned to nobody

[2014-10-24 23:51] #8 closed, assigned to nobody

[2014-10-24 23:52] #7 closed, assigned to nobody

[2014-11-05 13:28] #24 closed, assigned to nobody

[2015-01-25 04:17] arjunvijayvargiya commented on #25
Hi,I am Arjun Vijayvargiya.I have started exploring this project and have already built on my system.I am thinking of prompting and redirecting the user to facebook/twitter/gmail for linking their account.This
thing can be done from the screen 1(that asks for domain content server name) or from screen2(login) just by  prompting the user to link via facebook/twitter.as in case with several websites

[2015-01-25 10:57] vshivam commented on #25
@arjunvijayvargiya Currently, this is difficult to implement because we do not actually have a way to connect the user data with fb/gmail credentials on the server side.

[2015-01-26 03:09] smcgregor commented on #25
Hi @arjunvijayvargiya

Using Facebook/Twitter/etc as a login system for the content server allows a third party to access the user's account on the content server. There are ways of mitigating this, but it would take more hacking than it is worth.

[2015-01-26 04:02] smcgregor opened #28 "Renaming ZeroBin Application"
@vshivam,

UX testing on the privly-chrome extension showed confusion on first-use of the system. Part of the problem was that users did not know which application to select and they were not interested in reading about the different apps. This means we needed to select a strong default before asking the users to change applications. In furtherance of "selecting a default," we renamed the ZeroBin

[2015-01-26 06:02] vshivam commented on #28
Renaming Strings doesn't take a lot of work.

Adding a new application also doesn't take a lot of work. It's as simple as adding a new application directory to the android application and adding the name of that directory to list of available applications. The app then automatically loads application_name/new.html in a webview when selected by the user.

[2015-02-18 04:30] vshivam opened #30 "Add instructions for getting a new account on the Login Page."
We should probably add a message here that will open the server's registration page on request.

[2015-02-18 04:45] vshivam opened #31 "Rename Index application."
The Index application is now known as 'History'. All related Strings in the android app need to be updated.

[2015-02-18 05:30] vshivam opened #32 "Update sharing screen messaging."
We need to provide better messaging on the share url screen. Add more options such as 'Create new content'.

[2015-02-18 05:54] vshivam opened #33 "History page content overflows."
The width of the content of the History screen doesn't wrap properly.

[2015-02-18 06:43] vshivam opened #34 "Use support library for the Action Bar."
We're currently using the Sherlock Action Bar for displaying the action bar. We should update the application to use the support library provided by android for displaying the action bar. Ideally, we could use the latest 'toolbar' implementation.

[2015-02-18 16:49] smcgregor commented on #33
This is probably a problem in privly-applications. Can you provide a screen capture and I'll see if I can replicate it on my browser by changing the window dimensions?

[2015-02-18 17:09] gitanshu commented on #33
Here are the screenshots:

![](https://s3.amazonaws.com/pushbullet-uploads/udt5K-FJ0lcj8n7U5XV2tb6dUo3oIBjX3qgLie/Screenshot_2015-02-18-22-37-45.png)

![](https://s3.amazonaws.com/pushbullet-uploads/udt5K-fwhpTTPdAtl3SHiVmjKtZ05gSNFaMXcb/Screenshot_2015-02-18-22-37-50.png)

[2015-02-19 04:43] smcgregor commented on #33
I opened the issue on privly-applications. It should not be a difficult fix.

[2015-02-22 09:04] vshivam commented on #30
@smcgregor What URL should we point to here ?

[2015-02-22 20:55] smcgregor commented on #30
The current page is in the privly-applications app "Login", however the form includes elements for logging in in addition to registering. Do you want to adapt the Login app for mobile or do you want to implement the registration logic on the Android side?

[2015-02-22 23:40] vshivam commented on #30
The 'Register'  option from the Login application sends a request to https://privlyalpha.org/users/invitation

Can I use this endpoint directly from java :
https://github.com/privly/privly-web/blob/master/app/controllers/users/invitations_controller.rb#L13

[2015-02-23 02:30] smcgregor commented on #30
Yes, but I think you _may_ need the csrf token.

[2015-02-23 02:31] smcgregor commented on #30
Make sure you set the format to json. I believe I just got an error for
this on production.

[2015-02-23 09:24] vshivam commented on #30
Don't need the csrf token but need to set the 'Content-Type' header.

[2015-02-23 21:39] smcgregor opened #35 "Add Secure Sharing of Keys"
Mobile applications are an ideal way to transfer keys from one trusted device to another. In this project you would be building out this functionality for integration with the [Privly family of applications](https://github.com/privly/privly-applications). The ideal proposal would include key exchange with NFC and/or QR codes. The challenge with this project will not be to build communication for k

[2015-02-24 06:32] vshivam commented on #35
So, the first step will be to implement a secure local storage of keys which could be synced with the server and be accessible to local privly applications as well ?

[2015-02-24 06:46] smcgregor commented on #35
I think we would want to store the keys in the localstorage context of the
web view. That would make the keys available to all local applications. The
trickey part will be syncing the collection of keys between devices, which
may work with a qr code and websockets. We need to think about how we can
make this usable.

For a student to be successful in this they will need to have an excellent
unders

[2015-03-01 08:27] smcgregor commented on #33
Fixed in the pull request closed above. Please reopen if the issue persists.

[2015-03-01 08:27] #33 closed

[2015-03-01 12:02] vshivam commented on #34
Fixed here.

https://github.com/privly/privly-android/pull/36

[2015-03-01 12:02] #34 closed

[2015-03-01 12:03] vshivam commented on #31
Fixed Here.

https://github.com/privly/privly-android/pull/36

[2015-03-01 12:03] #31 closed

[2015-03-01 12:03] vshivam commented on #28
Fixed Here.

https://github.com/privly/privly-android/pull/36

[2015-03-01 12:03] #28 closed

[2015-03-01 12:22] vshivam opened #37 "Update Preference Activity."
Remove deprecated methods.

@gitanshu A lot of code in the activity which relates to clearing out of session data is commented out. Any ideas why ?

[2015-03-01 12:42] gitanshu commented on #37
This is the commit where the new settings activity was added:
https://github.com/privly/privly-android/commit/2c99fe795e85de7833f116c657e81f5f6406577a
and as the commit message says, something broke the facebook and twitter logout. I wasn't sure of how facebook and twitter sessions are stored and so commented out the code to test other options without crashes.

The code starting this line: https:/

[2015-03-01 13:20] vshivam opened #38 "LobsterTextView."
It might be a better idea to create a custom text view class which automatically sets the typeface to lobster rather than setting it explicitly to every text view via the java code.

[2015-03-02 08:54] vshivam commented on #30
Added a text placeholder for SignUp in this pull request : https://github.com/privly/privly-android/pull/39
We need to implement the request now.

[2015-03-03 14:48] vshivam commented on #38
Created a new class here : https://github.com/privly/privly-android/blob/gradle-develop/privlyandroid/src/main/java/ly/priv/mobile/utils/LobsterTextView.java

The login activity now uses the LobsterTextView.

TODO: Find other places where could probably use this.

[2015-03-04 06:09] vshivam opened #40 "Footer content overflows."
The content in the footer of Privly Applications overflows on mobile screens.

Here's a screenshot.

![screenshot from 2015-03-04 14 06 52](https://cloud.githubusercontent.com/assets/831071/6478955/ff9b6c5a-c277-11e4-8665-29f1b69fbd4b.png)

These are the templates that need to be edited :
* https://github.com/privly/privly-applications/blob/master/templates/show.html.template#L150
* https://github

[2015-03-04 06:12] smcgregor commented on #40
The footer that starts with "Donate" and ends with "DMCA"?

[2015-03-04 06:12] vshivam commented on #40
Yep.

[2015-03-04 07:54] vshivam opened #41 "Call JSObject Bridge method which redirects users to LoginActivity."
Whenever there's an authentication failure on loading a PrivlyApplication in the webview, it shows a button to login which loads the 'Login' PrivlyApplication in the WebView because that's the default behaviour for privly-web. This will possibly confuse the user because he sees a different login page on first usage of the application and then a different login screen in the above mentioned case.

[2015-03-04 16:30] vshivam opened #43 "Intent handler for Privly Links."
The app should be able to handle clicks of Privly links from other places such as the browser.

[2015-03-06 06:17] akoul opened #45 "Unexpected stop on logging into twitter for the first time"
Bug Report :

* Application crashes when you login to the twitter account for the first time and scroll through the tweets.
* Logcat Output :

03-06 11:40:21.896  10910-10910/ly.priv.mobile E/InputEventReceiver﹕ Exception dispatching input event.
03-06 11:40:21.896  10910-10910/ly.priv.mobile D/AndroidRuntime﹕ Shutting down VM
03-06 11:40:21.945  10910-10910/ly.priv.mobile E/AndroidRuntime﹕ FATAL

[2015-03-06 06:34] vshivam commented on #45
@akoul Formatted the bug report.

[2015-03-06 06:36] akoul commented on #45
@vshivam THANKS
 Also, the app seems to crash everytime you scroll through the tweets.

[2015-03-06 09:01] vshivam commented on #45
If you could fix the bug and make a pull request to the develop branch, I could take a look.

[2015-03-06 10:48] vshivam commented on #45
I have not been able to reproduce this. Are you using the latest code from master / develop ?

[2015-03-06 15:17] vshivam opened #46 "Do we need all those gmail related libs ?"
@gitanshu We have these dependencies for gmail but do we really need all of these ?

    compile 'com.google.http-client:google-http-client-gson:1.19.0'
    compile 'com.google.http-client:google-http-client-jackson2:1.19.0'
    compile 'com.google.android.gms:play-services:+'
    compile 'com.google.api-client:google-api-client:1.19.0'
    compile 'com.google.api-client:google-api-client-jackson2

[2015-03-06 18:08] arjunvijayvargiya opened #47 "Auto-completing the email address at the Login screen"
How about auto-completing the email address at the login screen?like remembering the last login address or auto completing the gmail.com in the end.This feature will save some time from the user side?

[2015-03-06 22:53] gitanshu commented on #46
When I moved the project to gradle, I replaced each jar file with its respective gradle dependency counterpart. Gmail API does need all these libraries. However, looks like gradle's transitive dependency management does the job for us if we only mention the google-api-services-gmail gradle artifact. Here is the gradle dependency tree with your suggested configuration. This explains everything:

![

[2015-03-07 03:27] akoul commented on #45
@vshivam Sorry for the late reply. I noticed that this error occurs after installing the app and using it for the first few times. Why don't you reinstall the app(gradle-develop) or try clearing data/cache from the app setting and then try it. Scrolling through the tweets up/down causes the app to force shut.
I'm attaching the screenshot of the force close:

![screenshot_2015-03-06-23-14-30](https

[2015-03-07 03:28] akoul commented on #45
I am using the latest code from develop branch of privly git.
I'll try to fix the error and make a pull request.

[2015-03-07 05:20] akoul commented on #45
I am posting a .gif file of my screen recording.
![screenrecord 1](https://cloud.githubusercontent.com/assets/5782689/6540196/595dda6c-c4b6-11e4-8d30-e7de28b0599d.gif)

[2015-03-07 06:59] arjunvijayvargiya commented on #38
![screenshot_2015-03-06-23-50-40](https://cloud.githubusercontent.com/assets/7685777/6540481/7d1971be-c4c5-11e4-8392-ef1ad6e8dc61.png)

I think we can make the gui better here by adding lobster font at Logout options and change content server

[2015-03-07 11:02] arjunvijayvargiya commented on #40
I updated PrivlyApplicationFragment.java inorder to fit the webpage withe screen of the mobile. Pull request #48 .I have changed LoginActivity.java as It was not recognizing at all.And this issue is resolved by adding  "webview.getSettings().setLayoutAlgorithm(WebSettings.LayoutAlgorithm.SINGLE_COLUMN);"
to privlyApllicationFragment.java
![screenshot_2015-03-07-16-14-24](https://cloud.githubuserco

[2015-03-07 11:13] gitanshu commented on #40
While it was a smart move to use SINGLE_COLUMN layout, the issue also affects the privly mobile site (as you can see in the screenshot by vshivam) and thus, this issue be better fixed in privlyapplications than for just android. The required links are available in the first post by vshivam.

[2015-03-07 11:17] gitanshu commented on #33
The content still overflows a bit. Here's a screenie:

![screenshot_2015-03-07-16-44-50](https://cloud.githubusercontent.com/assets/1853790/6541195/a0d152ec-c4e9-11e4-88de-8b992c3dfc93.png)

[2015-03-07 14:23] gitanshu commented on #38
I am sorry but the screenshot doesn't look good to me. While it might be possible to improve this, in my view, Lobster grabs attention and this doesn't seem like a right place for this. Settings should be kept simple and consistent across apps.

[2015-03-07 14:26] vshivam commented on #38
I do agree. I don't think we need the lobster text view here.

[2015-03-07 14:28] vshivam commented on #47
I am not sure about auto complete. However, text suggestions sound like a good idea.

[2015-03-07 14:28] vshivam commented on #46
Perfect. I do have it removed in the develop branch. I'll go ahead and merge with master.

[2015-03-07 14:32] vshivam commented on #40
This is not just an issue with the android version. It's an issue with Privly Applications in general (which is used by the android version) and  needs to be fixed there.

[2015-03-07 14:52] vshivam commented on #45
Steps to Reproduce :

* Scroll down to the last tweet when more tweets start to load.
* Scroll up while the tweets are loading.
* App crashes.

[2015-03-07 17:01] vshivam commented on #45
@akoul Just pushed a commit to the develop branch. Looks like this issue has been fixed. Can you check and confirm ?

[2015-03-07 17:02] akoul commented on #45
I'll do that in some time and let you know
On 7 Mar 2015 22:31, "Shivam Verma" <notifications@github.com> wrote:

[2015-03-07 17:53] akoul commented on #45
I'm still getting the same app-force close on scrolling through the tweets.

[2015-03-07 18:00] vshivam commented on #45
Do you have this line :
mListViewPosts.addFooterView(mFooterView);

In the initializeComponent(View v) method of the MicroblogListPosts.java
class ?
On Mar 8, 2015 1:53 AM, "Akhil Koul" <notifications@github.com> wrote:

[2015-03-07 18:02] vshivam commented on #45
Sorry, MicroblogListPostsFragment.java class.

[2015-03-07 18:04] akoul commented on #45
Yes, I do. I cloned the repository all over again with the latest commit and then compiled the files.

[2015-03-07 18:07] akoul commented on #45
I wanted to ask as to whether you have used Twitter SDK or Intent Share for integration of Twitter into Privly? Also, can we used the ASNE library to integrate social platforms ?
The link is https://github.com/gorbin/ASNE. I haven't tried it though.

[2015-03-07 18:08] vshivam commented on #45
If you check out the develop branch of the repo. It does not have that
line. That's the line which is causing the issue most probably.

Here's the link to the latest code :
https://github.com/privly/privly-android/blob/develop/src/main/java/ly/priv/mobile/api/gui/microblogs/MicroblogListPostsFragment.java
On Mar 8, 2015 2:04 AM, "Akhil Koul" <notifications@github.com> wrote:

[2015-03-07 19:35] akoul commented on #45
Commenting out that line made the difference. Now the bug seems to have been resolved.

[2015-03-08 05:12] vshivam commented on #46
Merged into master.

[2015-03-08 05:12] #46 closed

[2015-03-08 05:13] vshivam commented on #45
Bug Fixed.

Commit : https://github.com/privly/privly-android/commit/d45803a62d3fc88bf950a9425e425a39f5507e2d

[2015-03-08 05:13] #45 closed

[2015-03-08 07:56] arjunvijayvargiya commented on #47
We don’t know all the email addresses the user could potentially have. What we know however from his phone is all the email addresses he/she used as an account (Google, Facebook, Twitter, …).
This data source can be used to provide completions.We can load the user accounts through the Account class provided by android
As some accounts may not have an email address linked to them, we filter them an

[2015-03-08 08:01] vshivam commented on #47
Sounds good. Before you start working on this, make sure you have pulled the latest updates from the develop branch.

[2015-03-08 10:07] arjunvijayvargiya commented on #47
Hi shivam,
                 can you send me an invite on this email address: arjun.arvdroid@gmail.com .This will help me in testing the feature

[2015-03-08 10:31] arjunvijayvargiya commented on #47
I have implemented that feature on my local .This is the screenshot. I can improve on the design of the drop-down ranging from fonts colors based on the privly theme.

![privly](https://cloud.githubusercontent.com/assets/7685777/6545415/038cca02-c5ac-11e4-83ba-0dae3a523329.png). I can improve on the design of the drop-down including the

[2015-03-08 10:47] vshivam commented on #47
Looks good.

[2015-03-08 13:15] arjunvijayvargiya commented on #47
can I make a Pull request.

[2015-03-08 13:16] vshivam commented on #47
Go ahead.

On Sun, Mar 8, 2015 at 9:15 PM, Arjun Vijayvargiya <notifications@github.com

[2015-03-08 13:47] arjunvijayvargiya commented on #47
I have implemented  the above discussed feature.Pull request #49

[2015-03-08 18:50] arjunvijayvargiya commented on #47
I have updated based on the changes suggested by you.Pull request #50 .

[2015-03-08 20:07] akoul opened #51 "Facebook force close"
On using the facebook integration, I noticed the following bugs:

1) Some of the chatheads names are wrongly adressed to my account where as originally they are addressed to some other person. ( I can post the screenshot if required)

2) Opening a chat head in which i had sent a test privly message(using chrome extension) to myself caused the app to force close.
Here's the logcat error :

1969-196

[2015-03-09 11:10] arjunvijayvargiya commented on #47
I have updated based on the changes suggested by you.Pull request #52 .

updates Done
1)Removed extra object of Values class that was emailVal
2)removed old readnewprefs method and created new getters and setters for lastloginemailaddress
3)updated APP_PREFERENCE_NEWPREFS with new name of constant

[2015-03-09 13:53] vshivam commented on #51
I _think_ I have already fixed the setTitle() issue.

Updated here : https://github.com/privly/privly-android/blob/master/src/main/java/ly/priv/mobile/gui/fragments/ShowContentFragment.java#L73

[2015-03-09 14:17] akoul commented on #51
Force closing of app is resolved by this. However, the anomaly in ChatHeads is still there according to me. In some of the chatheads, my name is shown instead of the person with whom the chat has been done.

[2015-03-09 14:18] vshivam commented on #51
Yep. That needs to be fixed.

[2015-03-09 14:20] akoul commented on #51
What could be the possible cause of this issue according to you?

[2015-03-09 14:22] vshivam commented on #51
You probably need to look in this class : https://github.com/privly/privly-android/blob/master/src/main/java/ly/priv/mobile/grabbers/FaceBookGrabberService.java

[2015-03-09 14:32] akoul commented on #51
I'll see if I can solve the bug and let you know.

[2015-03-10 04:59] vshivam commented on #47
Resolved : https://github.com/privly/privly-android/pull/52

[2015-03-10 04:59] #47 closed

[2015-03-10 16:00] arjunvijayvargiya commented on #40
While going through the privly application code, I figured out that this problem can be fixed by changing the value of height field to -1% or -1 px instead of using 60 px in the height field of #footer. I did this change in the following file and particular line as can be seen here

https://github.com/privly/privly-applications/blob/master/shared/css/top/top.css#L29

Although I am not sure whether

[2015-03-11 04:47] vshivam commented on #40
I'm not sure if this is the best way to handle this issue. But I think what might work is to set a min-height property for the footer rather than a fixed height.

@smcgregor will be help you out better with this.

[2015-03-11 05:05] arjunvijayvargiya commented on #40
I will try doing with min-height and will let you know.

[2015-03-11 07:25] arjunvijayvargiya commented on #40
I have updated height to min-height in top.css by putting the value 60 px as it was before, it worked.
reference:https://github.com/privly/privly-applications/blob/master/shared/css/top/top.css#L29.I am just adding screenshots to show the differences between the three edits
Height-60px
![height-60px](https://cloud.githubusercontent.com/assets/7685777/6591978/998990f6-c7ed-11e4-9d5f-9755aac2719f.PN

[2015-03-11 09:46] vshivam commented on #40
The screenshots are too small. Can't really make out the difference.

On Wed, Mar 11, 2015 at 3:25 PM, Arjun Vijayvargiya <
notifications@github.com> wrote:

[2015-03-11 09:59] arjunvijayvargiya commented on #40
height: 60px; (current)(overflow)
![height0](https://cloud.githubusercontent.com/assets/7685777/6593959/05de493a-c803-11e4-89fa-25e9a59bc432.PNG)
height:-1px;(no overflow)
![height1](https://cloud.githubusercontent.com/assets/7685777/6593982/24a911ba-c803-11e4-840f-b11e09992c1a.PNG)
min-height:60px;(no overflow)
![height2](https://cloud.githubusercontent.com/assets/7685777/6593993/370772e8-c803-11

[2015-03-11 13:52] smcgregor commented on #40
I think this looks good. Time for a pull request on privly-applications?

[2015-03-11 14:09] arjunvijayvargiya commented on #40
thanks @smcgregor .I will make a pull request on privly application.

[2015-03-11 14:29] arjunvijayvargiya commented on #40
I made a pull request#213
reference: https://github.com/privly/privly-applications/pull/213

[2015-03-12 13:48] arjunvijayvargiya commented on #41
I think the approach would be to:

Android/Java part
1.add a call in the onCreate of the  java file attached to the javascript the following
      webView.addJavascriptInterface(getApplicationContext(), "android");
      // The second parameter is the name of the global JavaScript variable which the JavaScript interface object is bound to.

2.add a method in the same class

    @JavascriptInterfac

[2015-03-12 15:14] arjunvijayvargiya commented on #41
I have added    androidJsBridge.showLoginActivity(); in the  showLoggedOutNav: function() of Network_service.js. Now what I am getting is: whenever there's an authentication failure on loading a PrivlyApplication in the web-view, user is directly redirected to LoginActivity directly without showing a small login button in webview which was earlier present .Is this ok ??? To add something to this w

[2015-03-13 04:24] vshivam commented on #41
Not sure what you're trying to ask here.
On Mar 12, 2015 11:14 PM, "Arjun Vijayvargiya" <notifications@github.com>
wrote:

[2015-03-13 04:31] arjunvijayvargiya commented on #41
Sorry for not being clear.I just wanted to tell that I have resolved this bug by adding a  call in the

androidJsBridge.showLoginActivity();
in the showLoggedOutNav: function() of Network_service.js.

[2015-03-13 07:33] arjunvijayvargiya commented on #41
Can I open a pull request for this in Privly Application???

[2015-03-13 07:34] vshivam commented on #41
Sure.
On Mar 13, 2015 3:33 PM, "Arjun Vijayvargiya" <notifications@github.com>
wrote:

[2015-03-13 08:06] arjunvijayvargiya commented on #41
I have updated my earlier pull request with my new commit:https://github.com/arjunvijayvargiya/privly-applications/commit/9a79304686395aabc48fc570df9a2660dc6e76dc

updated  pull request:https://github.com/privly/privly-applications/pull/213

[2015-03-13 12:31] akoul commented on #43
This will probably require adding an intent in androidmanifest.xml file which will receive the content from other applications like browser. Can you tell me the < data android:mimeType > value which is required  so that content from other application can be handled by privly-android app?

[2015-03-13 13:00] arjunvijayvargiya commented on #41
Hi Shivam,
Updated Network.js .Added platform check before calling the LoginActivity by JSBridge.

https://github.com/arjunvijayvargiya/privly-applications/commit/c64616309d1d89467aab7286cba33c6211f04c2f

[2015-03-13 13:29] vshivam commented on #43
I don't think we need the mime type in this case because we're not trying to handle intents of a particular content type. What we're trying to do is to handle URLs of a specific type. So you'll need to work with `android:host` and `android:scheme` attributes of the `intent-filter`.

Since these attributes need to be defined in the manifest and cannot be added dynamically, I think what might make s

[2015-03-13 13:40] arjunvijayvargiya commented on #41
Yeah ,should have used already defined function..
https://github.com/arjunvijayvargiya/privly-applications/commit/f3c8afa0e655c4b5fb86d31933df27045941bd6b

[2015-03-13 17:16] arjunvijayvargiya commented on #41
Hi shivam,
                 I have put the non android code in the else block.Please check it once on
https://github.com/arjunvijayvargiya/privly-applications/commit/14f32564a674dd250534e90951dbb678d2f853ad

[2015-03-13 18:24] #40 closed

[2015-03-13 23:34] smcgregor commented on #41
@vshivam This calls something on the Android side, good? https://github.com/privly/privly-applications/pull/218

[2015-03-15 12:15] Jagatheesan opened #56 "Logout button doesn't actually logout."
@smcgregor , @vshivam when I added the ability to handle valid Privly Links system wide (that is, when a valid link is clicked, the cont is fetched and shown in ShowContentFragment inside MainActivity)  in my pull request #55 , I discovered a bug, even if you have logged out, if you click any Privly link - the content is being fetched and shown.

[2015-03-15 13:05] arjunvijayvargiya commented on #43
Hi Shivam,
                   I have doubt.What if when user has already selected the browser/chrome as default app to open these kind of URLs? It wont show a secondary option to deal with these kind of URLs???

[2015-03-15 13:16] vshivam commented on #43
I don't think we can do anything about that. The link will open in the browser directly.

[2015-03-15 14:07] akoul commented on #43
I tried including the following code in manifest.xml under <activity android:name=".gui.activities.MainActivity">

 <intent-filter>
                <data android:scheme="*" android:host="*" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.categor

[2015-03-15 14:27] #56 closed

[2015-03-15 14:51] akki12345 commented on #35
#smcgregor you say store the keys in the local phone storage context of the web view...this is done.So now what we have to do is.....syncing the collection of keys between devices with a qr code and any type of password(the syncing part is like a Google sync.).

[2015-03-15 15:07] vshivam commented on #43
@akoul I can't see any code. Plus, this issue has almost been fixed by @jagatheesan

[2015-03-15 15:18] akoul commented on #43
Sorry for that.
How do you upload the code in comments?
Adding <> before the code makes it invisible

[2015-03-15 15:24] vshivam commented on #43
Include the code in ``.

You need to include the `android:host` and `android:scheme` values. Check this out : http://stackoverflow.com/questions/525063/android-respond-to-url-in-intent

[2015-03-15 15:32] akoul commented on #43
<intent-filter>
 <data android:scheme="*" android:host="*" />
 <action android:name="android.intent.action.VIEW" />
 <category android:name="android.intent.category.DEFAULT />
 <category android:name="android.intent.category.BROWSABLE />
 </intent-filter>

Can u see the code now?

[2015-03-15 17:25] arjunvijayvargiya commented on #32
![screenshot_2015-03-15-22-33-42](https://cloud.githubusercontent.com/assets/7685777/6657036/86ad9f34-cb64-11e4-9411-53a6072188ab.png)

Current behavior: After sharing the URL, a toast message appears saying that "your post has been shared" .and it remains on the same sharing URL screen.(which is I think is not complete)
I am thinking of  changing the behavior to something like: After sharing the

[2015-03-16 07:03] akoul commented on #43
I also did the same thing but couldn't make a pull request due to some work. Anyways, nice job @Jagatheesan

[2015-03-16 09:03] vshivam commented on #32
Yep, something along the lines sounds nice.

But I'd suggest you to start working on your proposal. You should have a fair understanding of the architecture now.

[2015-03-16 09:04] vshivam commented on #41
Fixed : https://github.com/privly/privly-applications/pull/218

[2015-03-16 09:04] #41 closed

[2015-03-16 09:19] vshivam commented on #43
Fixed : https://github.com/privly/privly-android/pull/52

[2015-03-16 09:19] #43 closed

[2015-03-16 09:35] arjunvijayvargiya commented on #32
Yeah sure..

[2015-03-16 09:42] vshivam commented on #32
You should hang out on the irc channel #privly . That's a better medium for discussing project ideas.

[2015-03-16 09:49] arjunvijayvargiya commented on #32
ok

[2015-03-23 10:57] arjunvijayvargiya commented on #35
Hi @smcgregor ,
                            Can you please elaborate on the fifth point of the process i.e."When the user encounters the shared key from the content server (or twitter/email) on the browser...."

[2015-03-23 15:53] smcgregor commented on #35
The purpose of the last point is to allow for synchronization between the mobile app and the desktop's browser extensions. This could be accomplished in several ways, but the most important aspect is that the keys not be imported to the desktop unless they are trusted by the phone. This will be easy of the desktop and the mobile already share a private key, so it may be better to concentrate on tr

[2015-03-23 18:08] arjunvijayvargiya commented on #35
we can put the private key on the Google drive /drop box from the same user phone using Google drive API or Drop Box API available for android. Is it possible for the extension to fetch data from Google drive/drop box ,so that it can share the private key with him???

[2015-03-23 18:10] arjunvijayvargiya commented on #35
we can put the private key on the Google drive /drop box from the app using Google drive API or Drop Box API available for android. Is it possible for the extension to fetch data from Google drive/drop box ,so that it can share the private key with itself??? Will it be a correct approach???

[2015-03-23 18:18] smcgregor commented on #35
Private keys need to remain _private_. If you share the key via Drop box or Google drive, then Drop box and Google Drive also have the private key.

[2015-03-23 18:22] arjunvijayvargiya commented on #35
Yeah !!! I forgot to see a major flaw in putting keys on drive/dropbox.

[2015-03-23 19:00] arjunvijayvargiya commented on #35
We can create a QR code from the private key using Zxing library available in android.This QR code can be scanned and read by the Online QR code scanner functionality using webcam available on desktop
For example: http://www.webqr.com/index.html
This tool is a javascript port using the Zxing library. Github Link:https://github.com/LazarSoft/jsqrcode

Then the extension can take over to fetch the p

[2015-03-24 09:29] arjunvijayvargiya commented on #35
I have one more idea which can be achieved with the help of socket programming. The service will be running with a particular IP (IPv4 or IPv6) and a particular host number. What we can do is when we want to transfer a private key from mobile to desktop extension, we will send it to the defined IP and port number. Since server is in listen mode, it process the information and acknowledges by sendi

[2015-03-24 09:53] arjunvijayvargiya commented on #35
I have one more way can be achieved with the help of socket programming. The service will be running with a particular IP(ipv4 or ipv6) and a particular host number. What we can do is when we want to transfer a key from mobile to desktop extension, we will send it to the defined ip and port number. Since server is in listen mode, it process the information and acknowledges by sending a confirmatio

[2015-03-24 15:51] smcgregor commented on #35
One potential approach would be to have a QR code displayed by the desktop that contains a key and a identifier. The QR code key would encrypt mobile's private key in transit and would be destroyed immediately after the private key is decrypted. The identifier would allow both parties to identify their communications channel.

A similar approach could be used for mobile to mobile and desktop to mo

[2015-03-24 17:03] arjunvijayvargiya commented on #35
I think this key exchange mechanism would be done when the user registers for a new privly account on the app, as we want the user to have his private key already synced  before exploring on other app functions.

[2015-03-24 19:21] akoul commented on #30
Do we need to use the Volley library for implementing Sign Up Request?

[2015-03-26 05:17] vshivam commented on #30
Nope.

[2015-03-29 07:48] arjunvijayvargiya commented on #32
Hi Shivam,
                 With reference to our earlier discussion regarding this issue, I have told you that we can provide messaging by introducing a dialogue interface.

Current behavior: When the user shares a privly URL using either email,Facebook etc. he is redirected back to a screen showing the same URL with a "Sharebutton" along with the message that "your post has been shared". This is

[2015-04-26 19:57] arjunvijayvargiya commented on #32
Hi @vshivam  ,
With reference to our earlier discussion regarding this issue, I have told you that we can provide messaging by introducing a dialogue interface.

Current behavior: When the user shares a privly URL using either email,Facebook etc. he is redirected back to a screen showing the same URL with a "Sharebutton" along with the message that "your post has been shared". This is I think not

[2015-09-22 10:55] vshivam commented on #37
Updated the PreferenceActivity to use a toolbar, made other logout options functional : https://github.com/privly/privly-android/commit/aaa7524826fc7ccdfc2a47daf3e25888e2f72b6e

[2015-09-23 07:38] vshivam commented on #30
@smcgregor I was working on adding a screen for new users to request an invite. Should we take into account the fact that users can request for an invite from non https://privlyalpha.org content servers ?

In that case, I'll allow the user to change the content server on that screen, just like our login screen and the invite request would go to that content server.

[2015-09-23 08:00] vshivam opened #62 "Implement a View Privly content from section in the Navigation Drawer"
The application currently has a 'Connect Privly with' section in the navigation drawer. However, once a user connects to a particular service, it doesn't make sense to have that service in the same section.

We need to add a third section which lists the services the user has already connected the application with.

[2015-09-23 21:37] smcgregor commented on #30
Give defaults with a small message allowing the user to change the setting. The easiest path should make all the decisions for the user.

[2016-01-17 08:57] opg7371 commented on #30
is this issue still open

[2016-01-17 09:02] vshivam commented on #30
Yes.

[2016-01-19 23:57] mkash32 opened #63 "Error in building Android"
Some issues came when trying to run the app:

1) https://gist.github.com/mkash32/7ecb48cdf5881abdbbfe :- After searching, I found the fix for this would be to change compile sdk in the build.gradle file to "23",build tootls to "23.0.0", and changing to appcompat-v7:23.0.+. After applying this fix the build was fine, but there another issue arose (during compile I assume)

2) https://gist.github.co

[2016-01-20 13:09] akmittal006 opened #64 "Invaild facebook permission"
"read_mailbox" is deprecated.

This app is throwing a Invalid Scope for read_mailbox.

how will app display inbox messages?

[2016-01-20 14:01] gitanshu commented on #63
From the top of my head:

1)

2). The Apache HTTP library is no longer available in API 23. The makeshift fix for that would be to add `useLibrary 'org.apache.http.legacy'` in build.gradle of app. In longer run, apache http library dependency should be removed from app and replaced with HTTPUrlConnection based implementation.

3). This occurs because the app has hit method limit for dex file. 1 de

[2016-01-21 04:10] mkash32 commented on #63
I implemented the changes you suggested, I also had to change compile 'com.google.android.gms:play-services:+' to compile 'com.google.android.gms:play-services:8.4.0' to get it working.
Is this configuration dependent on the compuleSDK, build version, or android studio? (Would this configuration be applicable for anyone developing on the app?)

[2016-01-22 02:19] vshivam commented on #64
Yeah, the read_mailbox permission was recently deprecated. We need to move from inbox messages to user's feed.

[2016-01-22 02:29] vshivam commented on #63
The code hasn't been updated to target android-23 yet. Hence the build issues.

I'd suggest using the HTTPUrlConnection class instead of using the legacy dependency.

[2016-01-23 10:54] mkash32 commented on #63
I was thinking of using OkHttp library to make an asynchronous http request, eliminating the need of AsyncTask and also resulting in better performance. What is your opinion about using OkHttp?

[2016-01-28 04:47] vshivam commented on #63
OkHttp is generally considered better than AsyncTask but we don't use it because we never needed it. I don't see why we should change now.

[2016-02-06 07:24] vshivam commented on #64
Looks like the public_feed api has also been disabled.

https://developers.facebook.com/docs/public_feed

[2016-02-13 07:52] parthkarkhanis479 opened #65 "Authentication Problem"
The username and password that I used for https://privlyalpha.org/ isn't working for the app

[2016-02-13 08:01] vshivam commented on #65
Is there a relevant message in the logs?

-Shivam
On 13 Feb 2016 3:52 pm, "parthkarkhanis479" <notifications@github.com>
wrote:

[2016-02-13 08:08] parthkarkhanis479 commented on #65
![image](https://cloud.githubusercontent.com/assets/15124073/13026684/dfdd4fc4-d256-11e5-96f7-84d0f5201f81.png)
String cannot be converted to json objects

[2016-02-14 07:16] parthkarkhanis479 commented on #65
This what I am getting in response from the server.
 mLoginResponse : <!DOCTYPE html>
                                                  <html>
                                                   <head>
                                                    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>

                                                    <meta content="width=devi

[2016-02-14 08:08] vshivam commented on #65
Yeah, I think there's an issue with the server. CCing @smcgregor

[2016-02-14 20:18] smcgregor commented on #65
I am not having any issues generating an auth token, but I did recently update the token authentication code. What is the URL of the auth request that you are using? I tested the token auth endpoints here [0] since we exposed these forms for testing purposes a while back.

[0] https://privlyalpha.org/token_authentications/new

[2016-02-16 17:04] vshivam commented on #65
The app uses, https://privlyalpha.org/token_authentications.json , with the username and password as POST data.

[0] https://github.com/privly/privly-android/blob/master/app/src/main/java/ly/priv/mobile/gui/activities/LoginActivity.java#L173

[2016-02-16 18:34] vshivam commented on #63
@mkash32 Could you try building the project from the develop branch. The develop branch targets 23.

[2016-02-16 18:46] mkash32 commented on #65
I think the problem is due to the mechanism used by Rails to combat CSRF.
https://github.com/privly/privly-web/blob/master/app/controllers/application_controller.rb#L8
From what I've been reading, the default is to throw an exception when an authenticity_token is not provided. The authenticity_token will only be provided when we send the post request through the form.
It is suggested to use `prote

[2016-02-16 19:31] mkash32 commented on #63
I tried it out, the develop branch is working fine.

[2016-02-16 22:35] smcgregor commented on #65
@mkash32 A plausible if not likely explanation.

@vshivam Do you want me to test removing the authenticity_token from the `/new` endpoint on token authentications?

[2016-02-18 13:37] vshivam commented on #65
@smcgregor While the authenticity_token is definitely one of the issues, does it also explain the absence of Set-Cookie header in the response ? If yes, then bypassing the csrf protection might solve the issue.

[2016-02-18 14:21] vshivam opened #66 "ShowContentFragment's Webview doesn't scroll."
Self Explanatory.

To reproduce, generate a Privly Url for a longer text and view the Url within the application.

[2016-02-18 17:32] smcgregor commented on #66
Is this a privly-android problem or a privly-applications problem?

[2016-02-18 17:34] smcgregor commented on #65
I'll experiment with dev.privly.org and let you know.

[2016-02-18 17:43] #63 closed

[2016-02-19 02:33] mkash32 opened #67 "Automatic Log out just after Log in"
Since the login isn't working currently, I went to https://privlyalpha.org/token_authentications/new and logged in to get my auth_token and I hard-coded it into the project. After logging into the android app, the privly main page is visible and at the top the status is shown as

This activity is visible for a second and then it goes back to the login activity. The call to log out is being made in

[2016-02-19 12:29] vshivam commented on #67
Yes, the JS apps check for a valid auth_token. However, I do not see that being a problem as long as you save the auth_token in Shared Preferences[0].

[0] https://github.com/privly/privly-android/blob/develop/app/src/main/java/ly/priv/mobile/gui/activities/LoginActivity.java#L228

[2016-02-19 12:31] vshivam commented on #66
This is specific to privly-android.

[2016-02-19 13:52] mkash32 commented on #67
The auth_token is saved properly after the login. I started taking a look again and the loginFailure callback in new.js in shared of the privly-applications is being called.

I'm having trouble understanding the control flow of the js code. In [PrivlyApplicationFragment](https://github.com/privly/privly-android/blob/develop/app/src/main/java/ly/priv/mobile/gui/fragments/PrivlyApplicationFragment.j

[2016-02-19 14:03] vshivam commented on #67
The LoginActivity redirects the user to the MainActivity which loads the 'Message' privly application in the webview.

[0] https://github.com/privly/privly-android/blob/develop/app/src/main/java/ly/priv/mobile/gui/activities/MainActivity.java#L85

[2016-02-19 14:36] mkash32 commented on #67
Yeah I understood that part. The part which is confusing me is the control flow in the javascript code. For example the following is being called in the [js code](https://github.com/privly/privly-applications/blob/30b06e77f57eedc451956e318b7ddc5e00877196/shared/javascripts/network_service.js#L447): ` androidJsBridge.showLoginActivity();`
How did the control flow even reach to that point? And where

[2016-02-19 14:55] vshivam commented on #67
It's the 'Message' Privly Application that gets loaded in the fragment, so you need to check the related js code. I'd suggest checking out the `initializeApplication` function in `privly-applications/Message/js/new.js`.

[2016-02-19 15:07] mkash32 commented on #67
Ok sure, thanks!

[2016-02-19 18:07] mkash32 commented on #67
I went through new.js in the 'Message' Privly application. I got a better idea of how all of these pieces fit together, thank you for the suggestion.

The auth_token is saved properly and the request made to the server https://github.com/privly/privly-applications/blob/30b06e77f57eedc451956e318b7ddc5e00877196/shared/javascripts/network_service.js#L155 sends the the auth_token as a parameter, but i

[2016-02-20 00:29] smcgregor commented on #65
@vshivam Can you give it a try with dev.privly.org?

[2016-02-20 00:32] smcgregor commented on #67
Sorry for sending you through these steps. I am hoping the change I just made to dev.privly.org will make these steps unnecessary.

[2016-02-20 02:37] mkash32 commented on #65
I tried with dev.privly.org, it's working.

[2016-02-20 02:39] mkash32 commented on #67
I guess hard-coding the auth_token was the source of the problems. I am using dev.privly.org now and there are no issues.

[2016-02-20 03:34] smcgregor commented on #67
Feel free to close this if there is no longer an issue.

[2016-02-20 03:37] #67 closed

[2016-02-20 04:55] smcgregor commented on #65
Thanks, @mkash32.

[2016-02-20 05:54] mkash32 commented on #66
The touch event is being intercepted by the gesture listener so scrolling isn't taking place.
I commented out the [listener](http://github.com/privly/privly-android/tree/master/app/src/main/java/ly/priv/mobile/gui/fragments/ShowContentFragment.java#L101) and the scrolling is working properly.

Since the webview requires horizontal and vertical scrolling, I think using a gesture listener would be a

[2016-02-20 06:18] parthkarkhanis479 commented on #65
@mkash32 I tried replacing the value of DEFAULT_CONTENT_SERVER  as "https://dev.privly.org";
in ConstanValues.java but it still isn't working for me

[2016-02-20 06:48] mkash32 commented on #65
@parthkarkhanis479 Do you have an account on dev.privly.org?

[2016-02-20 06:50] parthkarkhanis479 commented on #65
Yes I do have one but with the same id as on privlyalpha.org .But I don't think that should be a problem

[2016-02-20 06:56] vshivam commented on #65
@parthkarkhanis479 Make sure you're using the develop branch for building the app locally.

[2016-02-20 06:57] mkash32 commented on #65
Can you post the response that you received?

[2016-02-20 07:25] parthkarkhanis479 commented on #65
I am able to log in now but the app shows the following screen.Is that what we are supposed to see after logging in?
![screenshot_2016-02-20-12-50-44](https://cloud.githubusercontent.com/assets/15124073/13195178/39768cba-d7d1-11e5-9235-223fac863a1b.png)

[2016-02-20 07:27] smcgregor commented on #65
It looks like you did not specify the --recursive option when you cloned
the repo?

[2016-02-20 07:30] vshivam commented on #65
Or you can update the submodule manually[0].

[0] https://github.com/privly/privly-android#developer-info

[2016-02-20 08:00] parthkarkhanis479 commented on #65
Thnx guys for your help. The app is working properly now.Should I close the issue?

[2016-02-20 09:48] mkash32 commented on #32
#68

[2016-02-20 10:18] vshivam commented on #65
Let's wait for the server side changes to be pushed to https://privlyalpha.org

[2016-02-20 10:36] vshivam commented on #66
If we handle the return values from the gesture listener properly, the scrolling should work.

I think we also need to provide visual clues to the user in case of multiple Privly Urls.

[2016-02-20 11:10] mkash32 commented on #66
So small/slow touch events (where the X distance is relatively less) should be treated as scroll and large/fast touch events (where X distance is large,fling) should be treated as a change in the content?

[2016-02-20 15:00] mkash32 commented on #66
In what situation would multiple Privly Urls be present?

[2016-02-20 17:19] mkash32 commented on #66
![screenshot_20160220-224619](https://cloud.githubusercontent.com/assets/11131759/13198037/12fb5aea-d824-11e5-8d43-07b6dfa0346b.png)
This is my idea for providing visual clues. How does it look?

[2016-02-21 23:20] yash14123 commented on #62
Please assign this to me. Thanks.

[2016-02-21 23:47] smcgregor commented on #62
You can publicly note that you are working on an issue, but it can't be "assigned" to you.

[2016-02-22 08:14] vshivam commented on #66
@mkash32

* All you need to do to enable scrolling is to pass on the the touch event to the webview whenever the `onFling` method returns false. You'll need to update the return values in the `onFling` method though. Whenever we consume a swipe we'll need to return true and false otherwise. It's possible that we might not need to override the `onScroll` method at all.

* When we view some content

[2016-02-22 11:23] mkash32 commented on #66
![screenshot_20160222-165103](https://cloud.githubusercontent.com/assets/11131759/13216888/b96060cc-d984-11e5-921a-18b1a4957424.png)

Is this better?

[2016-02-22 13:01] mkash32 commented on #66
@vshivam
For the scrolling issue, passing on the touch event requires a motion event. In the `onFling` method we have two motion events as parameters (e1 and e2), which one would we pass? I think we would require all the motion events from e1 to e2 for proper scrolling to take place.
And I feel we would need to override `onScroll` because the listener is automatically intercepting the events, with

[2016-02-23 06:45] vshivam commented on #66
If you return the MotionEvent object received in the onTouchListener, back to the WebView depending on the return value of `mGestureDetector.onTouchEvent(event)`, the scrolling should work. It's because the touch events are now being passed on to the WebView whenever a swipe is not detected. We'll also not need to override the `onDown()` method in the SwipeGestureDetector.

If this approach works,

[2016-02-23 12:25] mkash32 commented on #66
Ok, cool. Yeah passing the touch event directly to the webview sounds much better than manually scrolling on various events.

Why is it necessary for `onDown()` method to return true for proper swiping to take place? I tried removing the method and the swiping was working fine.

[2016-02-23 12:31] vshivam commented on #66
That's what I said in my last comment.  We don't need to override it. You can get rid of the whole thing.

[2016-02-23 14:05] mkash32 commented on #66
Oh sorry about that, I misread that part.

[2016-02-23 14:13] mkash32 commented on #32
@vshivam Can you take a look at this pull request also when you get a chance?

[2016-02-24 06:07] vshivam commented on #66
Made some changes to your PR and merged. Check it out here : https://github.com/privly/privly-android/commit/5bc95851b14f9f78809ef0ee8f53d1a6da7316cc

[2016-02-24 06:07] #66 closed

[2016-02-24 08:24] vshivam commented on #32
This is more of a UX problem. I'm not really sure if we should redirect the user to the 'Message' application by default. What if the user prefers to use 'PlainPost' ?

The other option would be to open the Navigation Drawer when the user presses 'Create New/Create' and he/she can choose either.

Open to discuss to any more ideas/thoughts.

[2016-02-24 08:31] vshivam commented on #62
@yash14123
If you wish to work on the issue, please discuss how you plan to solve the problem before writing a bunch of code which can't be merged / needs a lot more work.

[2016-02-24 09:27] vshivam opened #71 "Unable to create new Privly Content."
https://github.com/privly/privly-applications/issues/353

[2016-02-24 20:56] smcgregor commented on #32
In the immediate term, I am comfortable making the choice to drop the user into the message application.  I think the other option would be the help page.

[2016-02-25 02:03] mkash32 commented on #32
@vshivam What options should the user have after pressing the button? PlainPost and Message? If it's those two, how about opening a dialogue box with the options?

Instead of strictly sending the user back to the message application every time we could send the user to the most recently used application.

[2016-02-26 07:58] vshivam opened #72 "The History Application is supremely broken."
Layout issues :  https://github.com/privly/privly-applications/issues/358

Additionally, the android client also doesn't know how to handle 'Open' for the Privly Url.

[2016-02-26 09:08] vshivam commented on #30
When the user opens the app, I think we should show the registration option so that new users can instantly request for an invite.

[2016-02-26 09:11] #38 closed

[2016-02-26 09:13] #37 closed

[2016-02-26 22:45] smcgregor commented on #65
I'm just waiting for [TravisCI to run](https://travis-ci.org/smcgregor/privly-web/builds/112134082). Apparently Friday afternoons are not a great time to get free CI. This is taking a while to start.

[2016-02-27 17:47] smcgregor commented on #65
Deployed to privlyalpha.org and dev.privly.org. Please comment/reopen if issues persist.

[2016-02-27 17:47] #65 closed

[2016-02-27 21:11] opg7371 commented on #72
In the javascript part...for the column system it was mentioned in the histroy part.. col-md-12.....so i added a class col-sx-12 for small devices...i thought that it was breaking the system somewhere  but it does not have any affect.

I included this change in the subtemplate files...thought that the html files are regenerated after every installation...
Do you have any suggestion where might to

[2016-02-29 04:20] vshivam commented on #72
@opg7371 The android client just loads the JS History Application in a Webview.

To reproduce the issue in a web browser, go to inspect > device mode (ctrl shift m) and then select a mobile device such as Google Nexus 4.

[2016-02-29 17:38] mkash32 commented on #35
Would it be a good idea to maintain the private key in the privly database so that the private key will be associated with the user? In this manner transferring of private key wouldn't be needed (only for public keys of trusted contacts would need to be transferred). The private key could be symmetrically encrypted with the user's password so it would be secure on the privly server also.
I was thi

[2016-02-29 20:33] smcgregor commented on #35
Yes, key loss is a huge issue. It could be good to have a backup, it depends on the specifics of the implementation. It is difficult to comment more specifically without a more concrete proposal.

[2018-09-28 14:09] vshivam opened #73 "Hub update screen issue"
If the screen dims while a hub update is in progress, it messes up the app state.